  /*
  load dependant scss all under components #id
  */
  *,
  *::before,
  *::after { box-sizing: border-box; }

  #chm-form {
    @import '@scbd/www-css/dist/scss/import-no-reboot';
    @import '@scbd/www-css/dist/scss/bs/alert';
    @import '@scbd/www-css/dist/scss/bs/utilities';
    @import '@scbd/www-css/dist/scss/bs/forms';
    ::placeholder {
      color: rgb(117, 117, 117);
      font-size: 14px;
      opacity: .6;
      font-family: "BenchNine", sans-serif;
    }
    font-family: 'BenchNine', sans-serif;

    .debug{ border: solid 1px red;}


    .help-message {
      // position: absolute;
      // bottom: calc(-1.2 * 1em);
      padding-left: 5px;
      margin: 0;
      font-size: 14px;
    }

    .form-check-input {
      border: 1px solid rgb(164, 162, 162) !important;
    }

  }